<h1>Login</h1>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>


<button type="button" name="signup_button"><a href="/signup">Don't have an account yet? Create one over here...</a></button>
