<div class="centered circle">

  <div class="center_wrapper">

    <p class="outside_titles">Enter the</p>
    <h1 class="outside_logo">GROTTO...</h1>

    <form action="/login" method="post">
      <div class="row">
        <input class="triple_column_inputs" type="text" name="username" placeholder="Username">
        <input class="triple_column_inputs not_first" type="password" name="password" placeholder="Password">
        <input class = "triple_column_inputs not_first" type="submit" value="Login">
      </div>

      <br></br>

      <div class="row">
        <a class="single_column_links" href="/signup">No account yet? Right this way...</a>
      </div>

    </form>

  </div>
</div>
