/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
/* font-family: 'Rock Salt', cursive; */
/* font-family: 'Reenie Beanie', cursive; */
/* font-family: 'Sunflower', sans-serif; */

/* Page size */
.page {
  height:100vh;
  width: 100%;
  position: relative;
}

/* Background Image */
body {
    background-origin: border-box;
    background-repeat: no-repeat;
    background-image: url('../images/sea-1652866_1280.jpg');
    background-position: center;
    background-size: 100%;
    background-blend-mode:
}

/* General layout helpers */
.center_wrapper {
      /* background-color: black; */
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}

.circle {
   border-radius: 50%;
}

.round_rec {
   border-radius: 10%;
}

.centered {
  text-align: center;
}

/* Nav Bar */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid rgb(137,235,237);
  text-align: center;
}

#navbar nav a {
  display: inline-block;
  width: 16.6666667%;
  margin: 0;
  padding: 22px 0;
  text-transform: uppercase;
  color: coral;
  text-align: center;
  text-decoration: none;
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.5em;
  background-color: rgba(1,1,1,0.5)
}

#navbar nav a:hover {
  background: url("../images/Särkänniemi_-_fish.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#navbar nav a.menu-icon {
  display: none;
}

/* Logged out views */
div .centered {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 500px;
        height: 500px;
        background-color: rgb(231,253,253);
}

.outside_titles {
  text-align: center;
  color: rgb(5,64,83);
  font-size: 40px;
  font-family: 'Sunflower', sans-serif;
}

.outside_logo {
  color: rgb(5,64,83);
  font-size: 70px;
  font-family: 'Rock Salt', cursive;
}

.img-preview {
  width: 30%;
  border-radius: 20%;
  margin-top: -20px;
}

/* Logged in Views */
div .centered_feed {
        position: absolute;
        top:0px;
        padding-top: 30px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 700px;
        height: 80%;
        background-color: rgb(231,253,253);
        overflow: scroll;
        white-space: wrap;
    }


.inside_titles {
  text-align: center;
  color: rgb(5,64,83);
  font-size: 40px;
  font-family: 'Rock Salt', sans-serif;
}

.subtitle {
  font-size: 20px;
}

.scroll {
  overflow: scroll;
}

.inside-comments {
  text-align: center;
  margin-top: 50px;
  color: rgb(5,64,83);
  font-size: 1em;
  font-family: 'Rock Salt', sans-serif;
}

.header-comments {
  text-align: center;
  /* margin-top: 200px; */
  color: rgb(5,64,83);
  font-size: 1em;
  font-family: 'Rock Salt', sans-serif;
}

.list {
  position: absolute;
  top: 50%;
}

.list a:hover a:active a:visited a:link {
  color: grey;
}


/* Logged in Index Views */
.dives_index_wrapper {
      /* background-color: black; */
        padding: 1em;
        position: relative;
        /* margin-top: 400px; */
        /* top: 30%; */
        left: 50%;
        width: 70%;
        margin-right: -50%;
        transform: translate(-50%);
}

.divesite_index_wrapper {
      /* background-color: black; */
        padding: 1em;
        position: relative;
        /* margin-top: 400px; */
        /* top: 30%; */
        left: 50%;
        width: 100%;
        margin-right: -50%;
        transform: translate(-50%);
}

#countries {
  font-family: monospace;
  text-align: center;
}

.img-wrapper {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 40%;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

.divefeed-img {
  margin: 0 auto;
  height: auto;
  width: 100%;
  float: left;
  /* border-style: dashed;
  border-width: 1px;
  border-color: coral; */
}

.subhead {
  /* font-family: 'Rock Salt', cursive; */
  /* font-family: 'Reenie Beanie', cursive; */
  font-family: 'Sunflower', sans-serif;
}

hr {
  border-color: coral;
}

/* Logged in Dive/Divesite show Views */
div .centered_divesite {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: 500px;
        background-color: rgb(231,253,253);
        overflow: scroll;
        white-space: wrap;
}

.divesite_titles {
  padding-left: 10px;
  text-align: left;
  color: rgb(5,64,83);
  font-size: 2vmin;
  font-family: 'Rock Salt', sans-serif;
}

.divesite_titles a {
  color: inherit;
  text-decoration: none;
}

.divesite_subtitle {
  padding-left: 10px;
  font-size: 1.75vmin;
  text-align: left;
  color: rgb(5,64,83);
  font-family: 'Rock Salt', sans-serif;
}

.divesite_pre_text {
  font-size: 1.5vmin;
  word-wrap: break-word;
  white-space: pre-wrap;
}


.delete_divesite {
  width: 100%;
}

/* Logged in Divelog view */
.divelog_title {
  margin-top: 0px;
}

.divelog-img {
  width: 60%;
  border-radius: 30%;
  margin-left: 20%;
}


/* Forms placeholder text */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(231,253,253);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(231,253,253);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(231,253,253);
}

/* Row/Column layout */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.row {
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;
}

.single_column_links {
    flex: 50%;
    background-color: rgb(5,64,83);
    color: rgb(137,235,237);
    text-align: center;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    font-size: 1em;
}

.dual_column_links {
    flex: 25%;
    background-color: rgb(5,64,83);
    color: rgb(137,235,237);
    text-align: center;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    font-size: 1em;
}

.single_column_inputs {
    width: 100%;
    background-color: rgb(5,64,83);
    color: rgb(137,235,237);
    text-align: center;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    font-size: 1em;
}

.dual_column_inputs {
    width: 49.5%;
    background-color: rgb(5,64,83);
    color: rgb(137,235,237);
    text-align: center;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    font-size: 1em;
}

.triple_column_inputs {
    width: 33.33%;
    background-color: rgb(5,64,83);
    color: rgb(137,235,237);
    text-align: center;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    font-size: 1em;
}

.divesite_column {
  flex: 25%;
  text-decoration: none;
  font-family: 'Sunflower', sans-serif;
  overflow: scroll;
  white-space: nowrap;
}

.left {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.right {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.center-text {
  text-align: center;
}


.not_first {
    border-left: 1px solid;
    border-color: rgb(231,253,253);
}



/* Circular GMap */
div .large_centered {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 40%;
        height: 60%;
        background-color: rgb(231,253,253);
}

.iframe-outer {
    display: inline-block;
    position: relative;
    width: 50%;
    margin-left: 25%;
}

    .iframe-outer:after {
        content: '';
        display: block;
        margin-top: 100%;
    }

.iframe-inner {
    overflow: hidden;
    border-radius: 5000px;
    transition: all ease .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .iframe-inner iframe {
        height: 120%;
        width: 120%;
    }


/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  background-color: rgba(1,1,1,0.25)
}

#footer-content {
  font-family: 'Sunflower', sans-serif;
  color: #CC6600;
  text-decoration: none;
  text-align: center;
  font-size: 0.75em;
}

p .clean_link {
  text-decoration: none;
  color: #CC6600;
}

i {
  color: #CC6600;
}

.flash {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 52px;
  width: 100%;
  z-index: 2;
  text-align: center;
  border-bottom: 1px solid coral;
  border-radius: 30px;
  background-color: rgb(231,253,253);
  padding: 5px;
  font-weight: bold;
  background: lighten(coral, 60%);
  color: coral;
  border: 1px solid coral;
}

.close {
  color: coral;
}


/* Unused for now */
/* .inside_logo {
  color: rgb(5,64,83);
  font-size: 70px;
  font-family: 'Rock Salt', cursive;
} */

/* p .notes {
  max-width: 45em;
} */
