<h1>Create an account</h1>

<form action="/create" method="post">
  <input type="text" name="first_name" placeholder="First name">
  <input type="text" name="last_name" placeholder="Last name">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder=Email>
  <input type="password" name="password" placeholder="Password">

  <input type="submit" value="Sign up">
</form>

<button type="button" name="login_button"><a href="/login">Already have an account? Login this way...</a></button>
