<div class="centered_feed round_rec">

  <div class="dives_index_wrapper clear-fix">

    <h1 class="inside_titles divelog_title">Add a new divesite</h1>

    <form action="/divesites" method="post">
      <div class="row">
        <input class="triple_column_inputs" type="text" name="divesite[name]" placeholder="Divesite name">
      </div>
      <div class="row">
        <input class="triple_column_inputs not_first" type="text" name="divesite[location]" placeholder="Location">
        <input class="triple_column_inputs not_first" type="text" name="divesite[country]" placeholder="Country">
      </div>

      <br></br>
      <br></br>
      <br></br>

      <div class="row">
<pre>
<p>Are you also logging a new dive at this divesite?
If so, here's the place to do it!</p></pre>
      </div>

      <div class="row">
        <input class="triple_column_inputs" type="text" id="date" name="dive[date]" placeholder="Dive date DD/MM/YYYY">
        <input class="triple_column_inputs not_first" type="text" name="dive[time]" placeholder="Start time">
        <input class="triple_column_inputs not_first" type="integer" name="dive[length]" placeholder="Length(mins)">
      </div>

      <div class="row">
        <textarea rows="5" class="triple_column_inputs" name="dive[notes]" placeholder="Your dive notes"></textarea>
      </div>

      <br></br>
      <br></br>
      <br></br>
      <br></br>

      <div class="row">
        <input class="single_column_links" type="submit" value="Add Divesite">
      </div>

      <br></br>
      
    </form>


  </div>
</div>
