<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <title>Grotto</title>
  </head>
  <body>

    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <%end%>

    <% if !@outside_view %>
      <nav>
        A nav bar
      </nav>
    <% end %>

    <div class="page">
      <%= yield %>
    </dive>

    <footer><p>&copy <a href="http://thegingertonicstudios.com" target="blank">The Gingertonic Studios</a></p></footer>
  </body>
</html>
